body{
    font-family: "Montserrat", sans-serif;
    background-color: #000;
    color:#fff;
    margin:0;
    overflow:hidden;
}

.container{
    display:flex;
    height: 100vh;
}

.sidebar{
    background-color: #000;
    width:320px;
    border-radius: 1rem; /*16px*/
    margin:0.5rem;
}
.nav{
    background-color: #121212;
    border-radius:1rem;
    display:flex;
    flex-direction: column;
    justify-content:center;
    padding: 0.5rem 0.75rem;
}
.nav-option{
    line-height:2.75rem;
    opacity:0.7;
    /* margin-left: 1.25rem; */
}
.nav-option:hover{
    opacity:1;
}

.nav-option i{
    font-size:1.5rem;
    margin-right:0.5rem;
}
a{
    text-decoration: none;
    color:#fff;
}
.library{
    background-color: #121212;
    height: 100%;
    border-radius: 1rem;
    padding: 0.5rem 0.75rem;
    margin-top: 0.5rem;
}

.options{
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.options img{
    height: 1.5rem;
    width: 1.5rem;
    margin-right:0.4rem;
}

.lib-function i{
    opacity: 0.6;
    font-size: 1.25rem;
    margin-right: 1rem;
}
.lib-function i:hover{
    opacity:1;
}

.box{
    background-color: #232323;
    border-radius: 0.75rem;
    padding: 0.25rem;
    /* margin-top: 0.5rem; */
}

.boxp1{
    font-weight: 600;
    margin-top: 0.5rem;
}

.boxp2{
    opacity:0.9;
    font-size: 0.8rem;
}
.badge {
    background-color: white;
    font-weight: 700;
    border: none;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    height: 2rem;
    width: fit-content;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
    cursor:pointer;
}
/* .box .badge{
    margin: 0.25rem 0;
} */

.mainnav{
    position:sticky;
    top: 0;
    background-color: #121212;
    height: 3rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}

.mainnav-arrows{
    display:flex;
    justify-content: space-between;
    margin-left: 1rem;
}

.buttonbgm{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: #000;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
}

.buttonbgm .back{
    margin-right: 0.3rem;
}

.buttonbgm .forward{
    margin-left: 0.3rem;
}

.mainnav-options{
    margin-right: 1.5rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.mainnav-options button{
    margin-right: 0.75rem;
}

.dark-badge{
    background-color: #000;
    color:#fff;
    font-weight: 700;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 1rem;
    cursor:pointer;
    border: none;
}
.main{
    background-color: #121212;
    flex: 1;
    border-radius: 1rem;
    overflow:auto;
    margin-right:0.5rem;
    margin-top:0.5rem;
}
.cards{
    padding:0.8rem;
}

.cards-container{
    display:flex;
    flex-wrap: wrap;
    margin-bottom:1rem;
}
.card{
    /* background-color: #1f1f1f; */
    width: 9rem;
    padding: 0.5rem 0.5rem 0.1rem 0.5rem;
    border-radius:0.25rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}

.card:hover{
    cursor: pointer;
    background-color:rgb(35, 35, 35,0.5);
    box-shadow: 0.5rem 0.5rem 2rem black;
}

.card-img{
    width:100%;
    border-radius: 0.25rem;
}

.card-title{
    font-weight: 600;
}

.card-info{
    opacity:0.8;
    font-size:0.9rem;
}

.player{
    background-color: #000;
    position:fixed;
    bottom:0px;
    width: 100%;
    height: 72px;
}

@media(max-width:1000px){
    .hide{
        display:none;
    }
}